/* header part */

#main_header {
    position: relative;
    border: 1px solid red;
    border-radius: 15px;
    margin: 10px auto;

    min-width: 600px;
    max-width: 1200px;
    min-height: 160px;

    font-family: 'Goldman', cursive;
}

#title {
    position: absolute;
    top: 30px;
    left: 20px;
}

#title > h1 {
    font-size: 42px;
}

#title > h2 {
    font-size: 21px;
}

#user_info {
    position: absolute;
    right: 20px;
    top: 20px;
}

#user_info > ul > li {
    float: left;
}

#user_info > ul > li {
    display: block;
    padding: 3px 5px;
    border: 1px solid gray;
    border-radius: 2px;
}

#main_menu {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

#main_menu > ul > li {
    float: left;
}

#main_menu > ul > li > a {
    display: block;
    padding: 7px 10px;
    border: 1px solid skyblue;
    border-radius: 3px;
}

/* content part */

#content {
    margin: 10px auto;
    border: 1px solid red;
    border-radius: 15px;
    width: 80%;
    min-height: 600px;
}

/* footer part */
