<header id="main_header">
    <% if (!session.username) { %>
      <script>
        alert('not logged in!');
        window.location.href = "/view/login";
      </script>
    <% } %>
    <div id="title">
        <h1>42 Custom Holygraph</h1>
    </div>
    <nav id="user_info">
        <!-- login/logout 관련버튼 -->
        <ul>
            <% if (!session.username) { %>
            <li><a href="/view/login">login</a></li>
            <li><a href="/view/register">register</a></li>
            <% } else { %>
            <li><a>hello, <%= session.username %>!</a></li>
            <li><a href="/logout">logout</a></li>
            <% } %>
        </ul>
    </nav>
    <nav id="main_menu">
        <!-- navigation -->
        <ul>
            <li><a href="/">Projects</a></li>
            <li><a href="/view/mine">My Projects</a></li>
            <li><a href="/view/graph">Learning Graph</a></li>
            <li><a href="/view/new">Upload Your Own</a></li>
        </ul>
    </nav>
</header>
