<!DOCTYPE html>
<!-- 레이아웃 구성 방법은 책 "모던 웹 디자인을 위한 HTML5 + CSS3입문"참고. -->
<html>
    <head>
        <meta charset="UTF-8">
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/login.css">
        
        <!-- web fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
        <!-- AJAX로 프로젝트 목록 불러오기 -->
        <script src="/js/project_list.js"></script>
    </head>
    <body>
        <!-- content -->
        <form id="login" method="POST" action="/login">
        <div id="formBox" class="container-fluid">
        <h1 class="mb-5 display-3 text-center">Login</h1>
          <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
              <input type="text" id="username" name="username" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" name="password" id="password" class="form-control">
            </div>
          </div>
          <div class="form-group row mx-auto">
            <input type="submit" class="col-6 btn-primary form-control" value="Login">
            <a href="/view/register" class="col-6 btn btn-primary">
              <div>Register</div>
            </a>
          </div>
        </div>
        </form>
        <footer>
        </footer>
    </body>
</html>
