<!DOCTYPE html>
<!-- 레이아웃 구성 방법은 책 "모던 웹 디자인을 위한 HTML5 + CSS3입문"참고. -->
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="./css/reset.css">
        <link rel="stylesheet" type="text/css" href="./css/main.css">
        <!-- web fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
        <!-- AJAX, D3.js로 프로젝트 정보 표시 -->
        <script src="./js/project_info.js"></script>
    </head>
    <body>
        <header id="main_header">
            <div id="title">
                <h1>42 Custom Holygraph</h1>
                <h2>upload your own subjects</h2>
            </div>
            <nav id="user_info">
                <!-- login/logout 관련버튼 -->
                <ul>
                    <li><a>intra</a></li>
                    <li><a>login</a></li>
                    <li><a>logout</a></li>
                    <li><a>mypage</a></li>
                </ul>
            </nav>
            <nav id="main_menu">
                <!-- navigation -->
                <ul>
                    <li><a>Projects</a></li>
                    <li><a>My Projects</a></li>
                    <li><a>Rank</a></li>
                    <li><a>My Graph</a></li>
                    <li><a>Upload Your Own</a></li>
                </ul>
            </nav>
        </header>
        <!-- content -->
        <div id="content">
        </div>
        <footer>
        </footer>
    </body>
</html>
