body {
    width: 100%;
    height: 100%;
}

#login {
    position: absolute;
    min-width: 500px;
    max-width: 600px;
    min-height: 600px;
    max-height: 900px;
    border: 1px solid gray;
    border-radius: 15px;
    
    /* vertical, horizontal centering */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: table;
}

#inner > p {
    margin: 10px 0;
}

#inner > form > input {
    width: 300px;
    height: 25px;
    border-radius: 15px;
}

#inner {
    font-size: 24px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
