/*
 * header, content, footer 구조를 정의하는 공통 css입니다.
 */

/* header part */

#main_header {
    position: relative;
    border: 1px solid red;
    border-radius: 15px;
    margin: 10px auto;

    min-width: 600px;
    max-width: 1200px;
    min-height: 160px;

    /* 외부 폰트 Goldman 사용 */
    font-family: 'Goldman', cursive;
}

a {
  text-decoration: none;
}

#title {
    /* main_header 기준으로 위에서 30px, 왼쪽에서 20px */
    position: absolute;
    top: 30px;
    left: 20px;
}

#title > h1 {
    font-size: 42px;
}

#title > h2 {
    font-size: 21px;
}

#user_info {
    /* main_header 기준 오른쪽에서 20px, 위에서 20px */
    position: absolute;
    right: 20px;
    top: 20px;
}

#user_info > ul > li {
    float: left;
}

#user_info > ul > li {
    display: block;
    padding: 3px 5px;
    border: 1px solid gray;
    border-radius: 2px;
}

#main_menu {
    /* main_header 기준 아래에서 20px, 왼쪽에서 20px */
    position: absolute;
    left: 20px;
    bottom: 20px;
}

#main_menu > ul > li {
    /* li가 위에서 아래로 쌓이는 게 아니라 왼쪽에서 오른쪽으로 쌓인다. */
    float: left;
}

#main_menu > ul > li > a {
    /* 메뉴 하나하나가 크기를 갖고 있다. */
    display: block;
    padding: 7px 10px;
    border: 1px solid skyblue;
    border-radius: 3px;
}

/* content part */

#content {
    margin: 10px auto;
    border: 1px solid red;
    border-radius: 15px;
    min-width: 600px;
    max-width: 1200px;
    min-height: 600px;
}

/* footer part */
